<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SPE</title>
  </head>
  <body style="background:#009688">
<p style="font-size:40px;color:white;margin-left:430px;">Analysis by Bar Plots</p>
</p>
<form action="ubereco" style="display:inline;">
<input style="margin-left:320px;margin-top:50px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;" type='submit' value='Uber Economics Plot'>
</form>
<form action="taxieco" style="display:inline;">
<input type='submit' value='Taxi Economics Plot' style="margin-left:10px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form></p>

<p>
<form action="uberbusiness" style="display:inline;" >
<input type='submit' value='Uber Business Plot' style="margin-left:320px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form>
<form action="taxibusiness" style="display:inline;" >
<input type='submit' value='Taxi Business Plot'style="margin-left:10px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form></p>

<p>
<form action="uberweather"style="display:inline;">
<input type='submit' value='Uber Weather Plot' style="margin-left:320px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form>
<form action="taxiweather" style="display:inline;" >
<input type='submit' value='Taxi Weather Plot' style="margin-left:10px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form></p>

<p>
<form action="uberweek" style="display:inline;">
<input type='submit' value='Uber Weekday-Weekend Plot' style="margin-left:320px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form>
<form action="taxiweek" style="display:inline;">
<input type='submit' value='taxi Weekday-Weekend Plot' style="margin-left:10px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;">
</form></p>
  </body>
</html>
