<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SPE</title>
  </head>
  <body style="background:#009688">
<p style="font-size:40px;color:white;margin-left:430px;">Uber-Taxi Analysis Data </p>

</p>
<form action="data2">
<input style="margin-left:480px;margin-top:50px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;" type='submit' value='Map plot Analysis '>
</form></p>

</p>
<form action="data1">
<input style="margin-left:480px;margin-top:5px;postition:absolute;height:60px;width:300px;background:crimson;color:white;border:none;font-size:23px;" type='submit' value='Bar plot Analysis'>
</form>

  </body>
</html>
